@model MVCNedir.Models.Category
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kategori Ekle</h1>
</div>
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mb-2 mt-2">
                <label>Kategori Adı</label>
                @Html.TextBoxFor(model => model.Isim, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Isim, "", new { @class = "text-danger" })

            </div>
            <div  class="mb-2 mt-2">
                <label>Kategori Açıklama</label>
                @Html.TextAreaFor(model => model.Aciklama, new { @class = "form-control" })
            </div>
            <div class="mt-3">
                <input type="submit" class="btn btn-primary" value="Kategori Ekle" />
            </div>
        }
    </div>
    <div class="card-footer">
        <a href="@Url.Action("Index","Category")">Kategori Listesine Dön</a>
    </div>
</div>

