@model MVCNedir.Models.ViewModels.ManagerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet" />
</head>
<body class="text-center">

    <main class="form-signin">
        @using (Html.BeginForm())
        {

            <img src="~/Areas/AdminPanel/Images/loginimage-01.png" class="mb-4" />
            <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapınız</h1>
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <div class="form-floating">
                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput" } })
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "floatingPassword" } })
                <label for="floatingPassword">Password</label>

            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        }
    </main>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
